{% extends "templates/projectBase.html" %}
{% block projectContent %}

<script src="web/vis.js"></script>

<style>
.name {
	text-decoration: underline;
	text-align: center;
}

.d3-tip {
	max-width: 600px !important;
}

#story {
	font-size: 16px;
	width: 80%;
	margin: 0px auto;
}

#story > div {
	padding-left: 10px;
	border-left: solid 3px #888;
	margin-bottom: 10px;
}

#story .prev {
	color: #aaa;
}

#story .theend {
	text-align: center;
	font-size: 12px;
	color: #aaa;
	border-left: none;
}

#story button {
	background-color: white;
	border: solid 1px #888;
	display: block;
	margin: 5px auto;
}

#story button:hover {
	background-color: #ccc;
	border: solid 1px #888;
}
</style>

<h2>Graph Visualization of Your Story</h2>
<div id="fdg" class="row" style="text-align: center; border: solid 1px black;"></div>


<div id="story"></div>


{% endblock %}
